<div class="flex w-full flex-col gap-y-3">
  <ng-container *ngFor="let C of widgets.before">
    <ng-container *ngComponentOutlet="C; inputs: widgetContext"></ng-container>
  </ng-container>

  <div class="flex w-full flex-col items-start gap-x-4 gap-y-3 xl:grid xl:grid-cols-[minmax(0,_1fr)_440px]">
    <div class="flex w-full min-w-0 flex-col gap-y-3">
      <ng-content select="[main]"></ng-content>

      <ng-container *ngFor="let C of widgets.after">
        <ng-container *ngComponentOutlet="C; inputs: widgetContext"></ng-container>
      </ng-container>

      <div *ngIf="showExtraData" class="hidden flex-col gap-y-3 xl:flex">
        <app-metadata-section *ngIf="showMetadata && data" [data]="data"></app-metadata-section>
        <app-json-view-section *ngIf="showJSON && data" [data]="data"></app-json-view-section>
      </div>
    </div>

    <div class="flex w-full flex-col gap-y-3 xl:mt-0">
      <ng-container *ngFor="let C of widgets.sideBefore">
        <ng-container *ngComponentOutlet="C; inputs: widgetContext"></ng-container>
      </ng-container>

      <ng-content select="[sidebar]"></ng-content>

      <ng-container *ngFor="let C of widgets.sideAfter">
        <ng-container *ngComponentOutlet="C; inputs: widgetContext"></ng-container>
      </ng-container>

      <div *ngIf="showExtraData" class="flex flex-col gap-y-3 xl:hidden">
        <app-metadata-section *ngIf="showMetadata && data" [data]="data"></app-metadata-section>
        <app-json-view-section *ngIf="showJSON && data" [data]="data"></app-json-view-section>
      </div>
    </div>
  </div>

  <router-outlet *ngIf="hasOutlet"></router-outlet>
</div>
